@{
    ViewBag.Title = "Freedge";
    ViewBag.Header = "FREEDGE";
    Layout = "~/Views/_MasterPage.cshtml";
}

<div>
    <a href="/Freedge/FreedgeCreate"><b>Добавить новое устройство</b></a>
</div>
<br />
<div>
    <h4>Текущие объекты "Холодильник":</h4>
    <div>
        @foreach (var A in @ViewBag.Freedges)
        {
            string onOff;
            string vision;
            if (A.Condition == true)
            {
                onOff = "Включен";
                vision = "visionOn";
            }
            else { onOff = "Выключен"; vision = "visionOff"; }
            <table class="table table-bordered table-striped text-center">
                <tr>
                    <td><p>Название &nbsp;</p></td>
                    <td><p>Состояние &nbsp;</p></td>
                    <td><p>Температура внутри, град. &nbsp;</p></td>
                    <td><p>Настройка &nbsp;</p></td>
                    <td><p>Удаление</p></td>
                </tr>
                <tr>
                    <td><p>@A.title &nbsp;</p></td>
                    <td><p>@onOff &nbsp;</p></td>
                    <td><p class="@vision">@A.temperature &nbsp;</p></td>
                    <td><p><a href="/Freedge/FreedgeEditPartial/@A.Id"><b>Настроить&nbsp;</b></a></p></td>
                    <td><p><a href="/Freedge/FreedgeDelete/@A.Id"><b>Удалить</b></a></p></td>
                </tr>
            </table>
        }
    </div>
</div>