html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#header{
    background: linear-gradient(270deg, #6dd940, #0287e6);
    height: 50px;
    padding: 10px;
    text-align: center;
    text-shadow: 20px 12px 3px #ffffff;
}
#content{
    background: #303030;
    padding: 10px;
    text-align: center;
}
#navigation{
    text-align: center;
}
#screen{
    text-align: center;
}
.button{
    width: 190px;
    font-size: 18px;
    border: 1px groove white;
    border-radius: 5px;
}
.btn{
    width: 100px;
}
.btnnav{
    text-align: center;
}
.visionOff {
    color: white;
}

.visionOn {
    color: black;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
}


